@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Martian Mono";
    src: url("tech-book-club/assets/fonts/martian-mono/static/MartianMono-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Martian Mono";
    src: url("./assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Martian Mono";
    src: url("./assets/fonts/martian-mono/static/MartianMono-Bold.ttf") format("truetype");
    font-weight: 700;
}

:root {
    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    --radius-0: 0px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 12px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;

    --font-main: "Martian Mono", sans-serif;
    --font-second: "Inter", sans-serif;

    --color-neutral-900: rgb(6, 38, 48);
    --color-neutral-700: rgb(56, 81, 89);
    --color-neutral-200: rgb(230, 225, 223);
    --color-neutral-100: rgb(250, 245, 243);
    --color-neutral-0: rgb(255, 255, 255);

    --color-light-salmon-500: rgb(254, 163, 111);
    --color-light-salmon-100: rgb(255, 226, 209);
    --color-light-salmon-50: rgb(255, 245, 239);

    --color-gradient-text: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
    --color-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    place-content: center;
    color: var(--color-neutral-700);
}

.text-preset-1 {
    font-family: var(--font-main);
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2px;
}

.text-preset-2 {
    font-family: var(--font-main);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -2px;
}

.text-preset-3 {
    font-family: var(--font-main);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
}

.text-preset-4 {
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1px;
}
.text-preset-4-regular {
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1px;
}

.text-preset-5 {
    font-family: var(--font-second);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.text-preset-5-smbld {
    font-family: var(--font-second);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.text-preset-6 {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
}

.text-preset-7 {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1px;
}
.container {
    max-width: 1200px;
}

@media (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: var(--spacing-300) var(--spacing-200) var(--spacing-1000) var(--spacing-200);
    }
}
