@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/static/Inter_18pt-Regular.ttf")
        format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/inter/static/Inter_18pt-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Martian Mono";
    src: url("../assets/fonts/martian-mono/static/MartianMono-Regular.ttf")
        format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Martian Mono";
    src: url("../assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Martian Mono";
    src: url("../assets/fonts/martian-mono/static/MartianMono-Bold.ttf")
        format("truetype");
    font-weight: 700;
}

:root {
    --spacing-0: 0px;
    --spacing-025: 2px;
    --spacing-050: 4px;
    --spacing-075: 6px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-250: 20px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-800: 64px;
    --spacing-1000: 80px;

    --radius-0: 0px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 12px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;

    --font-main: "Martian Mono", sans-serif;
    --font-second: "Inter", sans-serif;

    --color-neutral-900: rgb(6, 38, 48);
    --color-neutral-700: rgb(56, 81, 89);
    --color-neutral-200: rgb(230, 225, 223);
    --color-neutral-100: rgb(250, 245, 243);
    --color-neutral-0: rgb(255, 255, 255);

    --color-light-salmon-500: rgb(254, 163, 111);
    --color-light-salmon-100: rgb(255, 226, 209);
    --color-light-salmon-50: rgb(255, 245, 239);

    --color-gradient-text: linear-gradient(
        107deg,
        var(--color-light-salmon-500) -11.37%,
        var(--color-neutral-900) 61.84%
    );
    --color-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    place-content: center;
    background: var(--color-neutral-0);
    color: var(--color-neutral-900);
    /* text-wrap: balance; */
}

.text-preset-1 {
    font-family: var(--font-main);
    font-size: 38px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2px;
}

.text-preset-2 {
    font-family: var(--font-main);
    font-size: 34px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -2px;
}

.text-preset-3 {
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
}

.text-preset-4 {
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1px;
}
.text-preset-4-regular {
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -1px;
}

.text-preset-5 {
    font-family: var(--font-second);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.text-preset-5-smbld {
    font-family: var(--font-second);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.5px;
}

.text-preset-6 {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
}

.text-preset-7 {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1px;
}

div.section-inner {
    max-width: 375px;
}

section {
    display: flex;
    justify-content: center;
    padding-inline: var(--spacing-200);
    overflow: hidden;
}
header {
    margin-block-end: var(--spacing-600);
    display: flex;
    justify-content: start;

    img {
        width: auto;
    }
}

div.section-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div.section-inner picture {
    & > img {
        border-radius: var(--radius-12);
    }
}

a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    border-radius: var(--radius-8);
    border: 2px solid var(--color-neutral-900);
    background-color: var(--color-light-salmon-50);
    padding-block: var(--spacing-250);
    padding-inline: var(--spacing-300);
    min-width: 100%;
}

section.join {
    padding-block-start: var(--spacing-300);
    padding-block-end: var(--spacing-1000);
    margin-block-end: var(--spacing-800);
    background-color: var(--color-neutral-100);
    background-image: url("../assets/images/pattern-light-bg.svg");
    position: relative;
    z-index: 0;

    div.section-content {
        h2 {
            margin-block-end: var(--spacing-300);
            background-image: var(--color-gradient-text);
            color: transparent;
            background-clip: text;
            margin-inline-end: 10px;
        }

        p {
            color: var(--color-neutral-700);
        }

        & > p {
            margin-block-end: var(--spacing-400);
        }

        a {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            margin-block-end: var(--spacing-250);
        }

        a::after {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url("../assets/images/icon-arrow-down.svg");
        }
    }

    picture {
        img {
            border-radius: var(--radius-6);
        }
    }
}

section.join::before {
    content: "";
    position: absolute;
    background-image: url("../assets/images/pattern-glow.svg");
    width: 100%;
    height: 100%;
    bottom: -50%;
    right: -50%;
}
section.join::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    left: 0;
    background-color: var(--color-neutral-100);
    z-index: -1;
}

.stars {
    display: grid;
    align-items: center;
    justify-content: start;
    column-gap: var(--spacing-150);
    margin-block-end: var(--spacing-800);

    img {
        width: 110px;
        grid-column: 1;
        grid-row: 1/3;
    }

    ul {
        grid-column: 2/3;
        grid-row: 1;
        display: flex;
        align-content: center;

        li::before {
            content: "";
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url("../assets/images/icon-star.svg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    p {
        grid-column: 2;
        grid-row: 2;
    }
}

section.together {
    margin-block-end: var(--spacing-800);

    div.section-content {
        h2 {
            margin-block-end: var(--spacing-300);
        }
    }
}

ul.list-options {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    margin-block-end: var(--spacing-500);
    color: var(--color-neutral-700);

    li {
        padding-inline-start: 38px;
        position: relative;
    }

    li::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../assets/images/icon-check.svg");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

section.club {
    margin-block-end: var(--spacing-300);
    div.section-content {
        h2 {
            margin-block-end: var(--spacing-300);

            span {
                position: relative;
            }

            span::after {
                content: "";
                position: absolute;
                background-image: url("../assets/images/pattern-circle.png");
                background-size: cover;
                background-repeat: no-repeat;
                width: 115px;
                height: 48px;
                left: -10px;
            }
        }

        p {
            color: var(--color-neutral-700);
            margin-block-end: var(--spacing-500);

            span {
                font-weight: 700;
            }
        }
    }
}

section.jorney {
    display: none;
}

section.options {
    margin-block-end: var(--spacing-800);
    .section-inner {
        width: 100%;
    }

    div.section-content {
        gap: var(--spacing-300);

        h2 {
            margin-block-end: var(--spacing-300);
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: var(--spacing-300);
        }
        article {
            padding: var(--spacing-300);
            border: 1px solid var(--color-neutral-200);
            border-radius: var(--radius-8);
            background: var(--colors-neutral-0);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-400);
            overflow: hidden;
        }

        article:nth-of-type(2) {
            background-color: var(--color-neutral-100);
            position: relative;
            z-index: 0;
        }
        article:nth-of-type(2)::before {
            content: "";
            background-image: url("../assets/images/pattern-glow.svg");
            position: absolute;
            width: 684px;
            height: 684px;
            left: -240px;
            bottom: -350px;
            z-index: -1;
        }

        ul {
            margin-block-end: 0;
        }

        hr {
            border: none;
            border-bottom: 1px solid var(--color-neutral-200);
        }

        .member-options {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-300);
        }
    }
}

section.testimonials {
    margin-block-end: var(--spacing-800);
    div.section-content {
        gap: var(--spacing-400);

        .stars {
            display: block;
            margin-block-end: 0;
        }

        blockquote {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-400);
            text-wrap: balance;
        }
    }
}

footer {
    background-image: url("../assets/images/pattern-dark-bg.svg");
    background-color: var(--color-neutral-900);
    border-radius: var(--radius-16) var(--radius-16) 0 0;
    color: var(--color-neutral-100);

    .section-content {
        padding-block-start: var(--spacing-600);

        h2 {
            text-align: center;
            margin-block-end: var(--spacing-500);
        }
        a {
            color: var(--color-neutral-0);
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            margin-block-end: var(--spacing-300);
            padding-inline: var(--spacing-300);
            padding-block: var(--spacing-250);
            background-color: transparent;
            border: 2px solid var(--colors-neutral-0, #fff);
        }

        a::after {
            content: "";
            display: inline-block;
            background-image: url("../assets/images/icon-arrow-up.svg");
            width: 24px;
            height: 24px;
        }
    }
    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-block: var(--spacing-300);
        padding-inline: var(--spacing-400);
        gap: var(--spacing-200);
        border-top: 1px solid var(--color-neutral-700);

        ul {
            display: flex;
            align-items: center;
            gap: var(--spacing-300);
        }

        a {
            padding: 0;
            background: transparent;
        }
    }
}

@media (min-width: 768px) {
    .text-preset-1 {
        font-size: 62px;
        line-height: 120%;
        letter-spacing: -2px;
    }

    .text-preset-2 {
        font-size: 50px;
        line-height: 130%;
        letter-spacing: -2px;
    }

    .text-preset-6 {
        font-size: 18px;
    }

    div.section-inner {
        max-width: 768px;
    }

    header {
        margin-block-end: var(--spacing-800);
    }
    section {
        padding-inline: var(--spacing-400);
    }

    h2 {
        text-wrap: balance;
    }
    ul.list-options {
        gap: var(--spacing-300);
    }

    div.section-inner picture {
        & > img {
            border-radius: var(--radius-24);
        }
    }

    section.join {
        padding-block-start: var(--spacing-400);

        &::after {
            display: none;
        }

        
        picture {
            img {
                border-radius: var(--radius-10);
                z-index: 10;
            }
        }
        &::before {
            z-index: -1;
            width: 684px;
            height: 684px;
            right: 0;
            bottom: 0;
        }
    }

    section.join, footer {
        .section-content {
            a {
                min-width: initial;
                width: 55%;
            }
        }

    }

    .join,
    .together,
    .club,
    .jorney,
    .options,
    .testimonials {
        margin-block-end: var(--spacing-1000);
    }

    section.options {
        div.section-content {
            .cards {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            article {
                flex-basis: calc(50% - var(--spacing-300) / 2);
            }
        }
    }

    footer {
        .section-content {
            align-items: center;
        }
    }
}
